 [% WRAPPER layout.tt %]
    <h1>About</h1>

    <p>Pompiedom is the software that runs this river.</p>

    <h2>Where can I find it?</h2>

    <p>The software can be found at GitHub.</p>

    <ul>
        <li><a href="http://github.com/pstuifzand/pompiedom-river">http://github.com/pstuifzand/pompiedom-river</a></li>
    </ul>

    <h2>Author</h2>
    <p>Peter Stuifzand</p>
[% END %]
