<div style="text-align:left;float:left;margin-top:12px;">
<a href="/"><img src="/static/river.png"></a>
</div>
<div class="menu">
[% IF session.logged_in %]
<b>[% session.username %]</b>
<a href="/watch">Preferences</a>
<a href="/session/logout">Logout</a><br>
[% END %]
<a href="/opml">OPML</a>
<a href="/about">About</a>
</div>
<div style="clear:both"></div>
