<!DOCTYPE html>
<html>
<head>
<title>Peter's river</title>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
<script>
function send_message(form) {
    $.ajax({
        'type':'POST',
        'url':'http://peterstuifzand.com/cgi-bin/upload_photo.cgi', 
        'username':'peter',
        'password':'simple',
        'data': {
            'feed':$(document.forms.new_message.feed).val(),
            'text':$(document.forms.new_message.text).val(),
            'title':$(document.forms.new_message.title).val(),
            'link':$(document.forms.new_message.link).val(),
            'close':0
        },
        'success': function(data) {
            console.log("success");
            console.log(data);
            $(document.forms.new_message.text).val('');
            $(document.forms.new_message.title).val('');
            $(document.forms.new_message.link).val('');
            $(document.forms.new_message.send).attr('disabled', '');
            $('#message').html('Posting... Done');
        },
    });
    $(document.forms.new_message.send).attr('disabled','disabled');
    $('#message').html('Posting...');
}

function retweet_setup(node) {
    var link = node.children('div.tools').first().children('a.permalink').first();
    $(document.forms.new_message.link).val(link.attr('href'));
    $(document.forms.new_message.title).val(node.children('.title').html());
    var description = node.children('.inner-message').html();
    $(document.forms.new_message.description).val(description).focus();
}
</script>
<style>
body {
    font-family: sans-serif;
}
.title {
    font-weight:bold;
    color:#222;
}
.message {
    margin-bottom: 12px;
    display:none;
}
.message .feed_title {
    font-size:11pt;
    color: #777;
}
.message .inner-message {
}
.tools {
    font-size:9pt;
    color:#666;
}
.tools a {
    color: #35f;
    text-decoration:none;
}
.tools a.permalink {
    color: #666;
    text-decoration:none;
}
.tools a:hover {
    text-decoration:underline;
}
.tools a.permalink:hover {
    text-decoration:underline;
}
div.river {
    width:500px;
}
.description {
    font-size:0.9em;
}
.extra { display:none;}
.content {
    width: 520px;
    margin: 0px auto;
}
</style>
<script>
if (!String.prototype.supplant) {
    String.prototype.supplant = function (o) {
        return this.replace(/{([^{}]*)}/g,
            function (a, b) {
                var r = o[b];
                return typeof r === 'string' || typeof r === 'number' ? r : a;
            }
        );
    };
}
</script>
</head>

<body>
<div class="content">
<h1>Peter's Pompiedom River</h1>
<div class="river">
<span id="message"></span>

<form onsubmit="send_message(this);return false;" name="new_message"> 
<input type="hidden" name="close" value="0">
<!--<input type="hidden" name="feed" value="1">-->

<p><b>Feed</b><br><select name='feed'> 
<option value='1'>Peter's Posts</option> 
<option value='2'>Test Posts</option> 
<option value='3'>Pictures</option> 
</select></p> 

<p><b>What's happening?</b><br><textarea name="description" rows="1" cols="56"></textarea></p> 
<div class="extra">
<p>Title<input type="text" name="title" size="67" value=""></p> 
<p>Link<input type="url" name="link" size="67" value=""></p> 
<p><input name="send" type="submit" value="Publish"></p> 
</div>
</form> 


<div class="new_messages"></div>
[% FOR message IN messages %]
    [% INCLUDE pompiedom_river_message.tt %]
[% END %]
</div>
</div>
<script src="/static/jquery-1.5.1.js"></script>
<script src="/static/socket.io.js"></script>
<script>
$(document).ready(function() {
    var messages = {};
    [%- FOR message IN messages %]
    messages['[% message.id | html_entity %]']=1;
    [%- END %]
    var socket = new io.Socket("localhost");
    socket.connect();
    socket.on('message', function(data) {
        if (messages[data.id] == 1) {
            return;
        }
        messages[data.id] = 1;
        var obj = $(data.html);
        obj.insertAfter($('.new_messages')).slideDown().css({'background':'lightyellow'});
    });
});
</script>
<script>
$(document).ready(function() {
    if ($('textarea').val().length() > 0) {
        $('textarea').attr('rows', 3);
        $('.extra').slideDown();
    }

    $('textarea').focus(function() {
        $(this).attr('rows', 3);
        $('.extra').slideDown();
    });
});
</script>
</body>
</html>
